.services-section {
    background-color: var(--bg-black);
    background-size: cover;
    padding: 100px 20px;
    color: white;
}

.services-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.services-container h2 {
    color: var(--section-title-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.gold-divider-center {
    width: 80px;
    height: 3px;
    background: var(--gold-primary);
    margin: 0 auto 40px;
}

.services-image {
    border-radius: 30px;
    width: 600px;
    padding: 20px;
}

/* Imagen para movil más pequeña */
@media (max-width: 650px) {
    .services-image {
        width: 100%;
    }
}

.services-text-block p {
    color: var(--text-light-gray);
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: justify; /* Da un toque elegante tipo periódico */
    text-align-last: center;
}

.services-text-block strong {
    color: var(--text-light-gray);
    font-weight: 600;
}