.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.loader-container.loader-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Permite hacer clic en la web mientras termina de desvanecerse */
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.loader-logo {
    width: 120px;
    height: auto;
    /* Animación de rotación suave */
    animation: spin 3s linear infinite;
}

.loader-bar-container {
    width: 200px;
    height: 4px;
    /* Fondo de la barra */
    background-color: var(--bg-secondary);
    border-radius: 2px;
    overflow: hidden;
}

.loader-bar-fill {
    height: 100%;
    background-color: var(--gold-primary);
    box-shadow: 0 0 10px var(--gold-primary);
    width: 0%;
    animation: loading 2s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes loading {
    0% { width: 0%; transform: translateX(-100%); }
    50% { width: 100%; transform: translateX(0%); }
    100% { width: 0%; transform: translateX(100%); }
}