/* src/styles/Home.css */
.hero-home {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    /* Imagen de fondo con overlay oscuro para que el texto resalte */
    background: linear-gradient(to bottom, rgba(10,10,10,0.3), var(--bg-dark)), url('../assets/banner.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Efecto Parallax simple */
}

.hero-content {
    text-align: center;
    z-index: 2;
    max-width: 900px;
    padding: 20px;

    /* Borde sutil brillante */
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.hero-content h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: -2px;
    background: linear-gradient(180deg, #fff, #888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 1;
}

.hero-content h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    color: var(--accent-gold);
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: 1.1rem;
    color: var(--text-secondary);
    max-width: 600px;
    margin: 0 auto 3rem auto;
    line-height: 1.6;
}