.hero-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    background: linear-gradient(
            to bottom,
            rgba(10, 10, 10, 0.4) 0%,
            rgba(10, 10, 10, 0.7) 100%
    ), url('../assets/banner.webp');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* El fixed a veces da problemas en iOS, scroll es más seguro para móviles */
    background-attachment: scroll;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}
li {
    position: relative;
    padding-left: 1.5em; /* espacio para simular el bullet */
}
li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--accent-color); /* color personalizado */
    font-size: 1.2em;
    line-height: 1;
}

/* Media query para activar el efecto parallax SOLO en PC donde hay potencia */
@media (min-width: 1024px) {
    .hero-home {
        background-attachment: fixed;
    }
}