:root {
    --button-text-color: var(--text-button);
    --button-color: #2E2E2E;
    --button-hover-color: var(--gold-primary);
}

.shine-btn {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: var(--button-text-color);
    padding: 0.5em 1.5em;
    outline: none;
    border: none;
    background-color: var(--button-color);
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;

    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.shine-btn::after {
    content: '';
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
            120deg,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.4) 50%,
            rgba(255,255,255,0) 100%
    );
    transform: skewX(-20deg);
    transition: left 0.45s cubic-bezier(0.4,0,0.2,1);
}

.shine-btn:hover::after {
    background-color: var(--button-hover-color);
    left: 120%;
}

/* Añade esto al final de tu archivo ShineButton.css */

.shine-btn:hover,
.shine-btn:focus, /* Para cuando se selecciona con teclado */
.shine-btn:active { /* Para cuando se está haciendo clic */
    color: white !important;    /* Fuerza que el texto siga blanco */
    text-decoration: none;       /* Asegura que no aparezca el subrayado */
    outline: none;              /* Quita el borde azul de enfoque en algunos navegadores */
}