.custom-navbar-wrapper {
    padding: 2rem;
}

.nav-menu, .nav-logo {
    background: linear-gradient(
            to bottom,
            rgba(10, 10, 10, 0.25) 0%,
            rgba(10, 10, 10, 0.25) 100%
    );
    border-radius: 15px;
    position:fixed;
    top: 30px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Transicción con scroll */
    transition: transform 1s ease, opacity 0.7s ease;
    will-change: transform, opacity;
}

.nav-menu {
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
}

.nav-logo {
    right: 30px;

    width: auto;

    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra para destacar el logo */
}

.nav-logo img {
    height: 50px;
    width: auto;
}

.navbar-nav {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--accent-color) !important;
}

/* Menu visible */
.custom-navbar-wrapper.nav-visible .nav-menu {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.custom-navbar-wrapper.nav-visible .nav-logo {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

/* Menu oculto */
.custom-navbar-wrapper.nav-hidden .nav-menu {
    transform: translateX(-50%) translateY(-130%);
    opacity: 0;
    pointer-events: none;
}
.custom-navbar-wrapper.nav-hidden .nav-logo {
    transform: translateY(-130%);
    opacity: 0;
    pointer-events: none;
}