.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: var(--background-color);
    border-radius: 20px;
}

.form-heading {
    text-align: center;
    margin: 2em;
    color: var(--accent-color);
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--primary-text-color);
    padding-inline: 1em;
}

.sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight: bold;
    outline: 1px solid var(--accent-color);
    transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
    background-color: var(--button-hover-color);
    color: var(--background-color);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
    background-image: linear-gradient(163deg, var(--accent-color) 0%, var(--accent-color) 100%);
    border-radius: 20px;
    transition: all 0.3s;
    margin: 2em auto;
    max-width: 450px;
}

.form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(212, 175, 55, 0.3);
}

.form-card2 {
    border-radius: 20px;
    transition: all 0.2s;
    background: var(--card-background);
}

.form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}