:root {
  --background-color: #1E1E1E;
  --primary-text-color: #F5F5F5;
  --accent-color: #D4AF37;
  --button-color: #2E2E2E;
  --button-text-color: #F5F5F5;
  --button-hover-color: #D4AF37;
  --link-color: #A0C1B8;
  --card-background: #2A2A2A;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
}